<li>
    {{burger_name}}

    <button class="addBurger" data-id="{{id}}" data-addBurger="{{addBurger}}">

        
    </button>

    <button class="deleteBurger" data-id="{{this.id}}">Devour</button>
</li>